body {
  background-color: #7c6e59;
}

.menu-body {
  max-width: 70%;
  margin: 0 auto;
  display: block;
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px;
  color: #efdfc4;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  color:white;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-family: 'Overpass', sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  color: #d1d0ca;
}

.menu-item-price{
  font-family: 'Overpass', sans-serif;
  float: right;
  font-weight: bold;
  margin-top: -22px;
  color: #d1d0ca;

}

/* Boton vuelve al inicio*/

.d-inicio {
	/*border: 2px solid gray;*/
	padding: 8px;
	width: auto;
	height: 15%;
}

.p-inicio {
	font-family: 'Overpass', sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	display:inline-block;
	text-align: right;
	text-transform: uppercase;
	color: #efdfc4;
	letter
}

.btn-main-icon {
  background: transparent;
  border: none;
  width: 4%;
  height: 4%;
}

img {
  width: 100%;
  height: 100%;
}


/* Horizontal menu */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  background-color: #3f3532;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #47403e on hover */
li a:hover {
  background-color: #47403e;
}

.btn-pedido {
  background-color:#5e4e4b;
  color: white;
  border-radius: 8px;
}

.btn-pedido:hover {
  background-color: #938f88;
  color: black;
  border: 2px solid #5e4e4b;
}

.pedido {
  float: right;
  display: inline;
}

.pedido:hover {
  background-color: #e0c89a;
  color: #5e4e4b;
}

.pagina {
	overflow: auto;
}

.current {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	display: inline;
	float:left;
}

.current:hover {
background-color: #47403e;
}
