body{
    background-color: #7c6e59;
}

.formulario{
    background-color: white;
    align-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    width: 80%;
    
}